#root {
  h1 {
    font-size: 20px;
    color: aqua;
  }
}

h2 {
  color: red;
  transform: translateY(100px);
}

.smallImage {
  width: 69px;
  height: 75px;
  background: url('./assets/images/7kb.jpeg') no-repeat;
}
.bigImage {
  width: 232px;
  height: 154px;
  background: url('./assets/images/16kb.jpeg') no-repeat;
}

.text-div {
  // width: 800px;
  // height: 200px;
  outline: 1px solid darkblue;
  overflow: hidden;
  display: inline-block;
}

.div {
  outline: 1px solid black;
  padding: 0;
}
